<footer class="footer">
  <div class="footer__body _container">
    <div class="footer__col footer__col--logo">
      <a class="footer__logo" href="/">
        <svg viewBox="0 0 215 53">
          <use xlink:href="/img/sprite/sprite-big.svg#logo"></use>
        </svg>
      </a>
    </div>
    <div class="footer__col footer__col--social">
      <div class="footer__social social">
        <div class="social__body">
          <div class="social__item">
            <a href="https://api.whatsapp.com/send?phone=380989919293">
              <svg>
                <use xlink:href="/img/sprite/sprite-big.svg#whatsapp-icon"></use>
              </svg>
            </a>
          </div>
          <div class="social__item">
            <a href="https://mssg.me/r/m/5d9e2a3c5d71640037371ea0">
              <svg>
                <use xlink:href="/img/sprite/sprite-big.svg#viber-icon"></use>
              </svg>
            </a>
          </div>
          <div class="social__item">
            <a href="https://m.me/rodynne.com.ua">
              <svg>
                <use xlink:href="/img/sprite/sprite-big.svg#fbmess-icon"></use>
              </svg>
            </a>
          </div>
          <div class="social__item">
            <a href="tel:+{{ site.tel1 }}">
              <svg>
                <use xlink:href="/img/sprite/sprite-big.svg#call-icon"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__col footer__col--address">
      <address class="footer__address">
        <span>м. Чернівці,</span>
        <span>завул. Б. Хмельницького 11</span>
        <a href="tel:+{{ site.tel1 }}">+{{ site.tel1-format }}</a>
        <a href="tel:+{{ site.tel2 }}">+{{ site.tel2-format }}</a>
      </address>
    </div>
    <div class="footer__col footer__col--cities">
      <div class="footer__cities cities">
        <div class="cities__title">
          <p>Будинки престарілих в інших містах:</p>
        </div>
        <ul class="cities__list">
          <li>Львів</li>
          <li>Рівне</li>
          <li>Хмельницький</li>
          <li>Тернопіль</li>
          <li>Ужгород</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
