<!-- <svg style="display: none">
  <symbol id="viber-icon" viewBox="0 0 532 532">
    <circle cx="266" cy="266" r="256" fill="#fff" stroke="#6151a2" stroke-miterlimit="10" stroke-width="20" />
    <path
      d="M401 120c-56-45-219-52-276 5-44 43-53 192 0 238 31 28 50 30 50 30l1 42c0 11 14 21 28 5l33-35s112 8 164-35 56-205 0-250Zm-21 230c-45 37-138 29-138 29l-38 43c-21 22-19 15-19 1l1-54s-15-3-38-19c-49-35-34-174-4-206 48-50 189-43 238-4s43 173-2 210Z"
      fill="#6151a2"
    />
    <path
      d="M197 163a13 13 0 0 1 13 2s5 4 14 16a151 151 0 0 1 13 21 12 12 0 0 1-3 13l-8 8a16 16 0 0 0-4 13 70 70 0 0 0 20 34 82 82 0 0 0 35 19 16 16 0 0 0 13-5l6-6a12 12 0 0 1 12-2 143 143 0 0 1 19 10 178 178 0 0 1 18 14 12 12 0 0 1 3 13 53 53 0 0 1-10 13 52 52 0 0 1-13 10 23 23 0 0 1-14 1s-48-16-83-50c-39-38-56-89-56-89a18 18 0 0 1 2-14s6-9 12-14a53 53 0 0 1 11-7Z"
      fill="#6151a2"
    />
    <path
      d="M263 159c61 0 87 49 85 89"
      fill="none"
      stroke="#6151a2"
      stroke-linecap="round"
      stroke-miterlimit="10"
      stroke-width="10"
    />
    <path
      d="M272 182c38 0 54 31 53 56M277 205c19 0 27 16 27 28"
      fill="none"
      stroke="#6151a2"
      stroke-linecap="round"
      stroke-miterlimit="10"
      stroke-width="10"
    />
  </symbol>

  <symbol id="fbmess-icon" viewBox="0 0 512.19 512.19" id="Layer_1" data-name="Layer 1">
    <defs>
      <linearGradient id="linear-gradient" x1="255.98" y1="512.65" x2="255.98" y2="0.46" gradientUnits="userSpaceOnUse">
        <stop offset="0" stop-color="#426fb6" />
        <stop offset="1" stop-color="#37c2f2" />
      </linearGradient>
      <linearGradient
        id="linear-gradient-2"
        x1="255.98"
        y1="442.69"
        x2="255.98"
        y2="81.97"
        xlink:href="#linear-gradient"
      />
    </defs>
    <circle cx="255.98" cy="256.56" r="246.47" transform="translate(-106.32 255.69) rotate(-45)" style="fill: #fff" />
    <path
      d="M256,512.65A256.09,256.09,0,0,1,74.89,75.47,256.09,256.09,0,1,1,437.06,437.64,254.41,254.41,0,0,1,256,512.65Zm0-492.93C125.38,19.72,19.14,126,19.14,256.56S125.38,493.39,256,493.39,492.82,387.15,492.82,256.56,386.57,19.72,256,19.72Z"
      transform="translate(0.12 -0.46)"
      style="fill: url(#linear-gradient)"
    />
    <path
      d="M435.12,248.77c0,92.13-80.21,166.8-179.14,166.8a191.5,191.5,0,0,1-52.06-7.15L142,442.69,141.36,377c-39.43-30.6-64.52-76.67-64.52-128.2C76.84,156.65,157,82,256,82S435.12,156.65,435.12,248.77Z"
      transform="translate(0.12 -0.46)"
      style="fill: url(#linear-gradient-2)"
    />
    <polygon
      points="138.19 306.35 235.99 203.07 281.23 250.6 370.34 203.07 272.55 306.35 226.85 257.45 138.19 306.35"
      style="fill: #fff"
    />
  </symbol>
</svg> -->

<footer class="footer">
  <div class="footer__body _container">
    <div class="footer__col footer__col--logo">
      <a class="footer__logo" href="/">
        <svg>
          <use xlink:href="/img/sprite/sprite-big.svg#logo"></use>
        </svg>
        <!-- <picture>
          <source srcset="/img/footer-logo.webp" type="image/webp" />
          <img src="/img/footer-logo.png" alt="Логотип пансіонату Родинне тепло" />
        </picture> -->
      </a>
    </div>
    <div class="footer__col footer__col--social">
      <div class="footer__social social">
        <div class="social__body">
          <div class="social__item">
            <a href="https://api.whatsapp.com/send?phone=380989919293">
              <svg>
                <use xlink:href="/img/sprite/sprite-big.svg#whatsapp-icon"></use>
              </svg>
            </a>
          </div>
          <div class="social__item">
            <a href="https://mssg.me/r/m/5d9e2a3c5d71640037371ea0">
              <svg>
                <use xlink:href="/img/sprite/sprite-big.svg#viber-icon"></use>
              </svg>
            </a>
          </div>
          <div class="social__item">
            <a href="https://m.me/rodynne.com.ua">
              <svg>
                <use xlink:href="/img/sprite/sprite-big.svg#fbmess-icon"></use>
              </svg>
            </a>
          </div>
          <div class="social__item">
            <a href="tel:+{{ site.tel1 }}">
              <svg>
                <use xlink:href="/img/sprite/sprite-big.svg#call-icon"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__col footer__col--address">
      <address class="footer__address">
        <span>м. Чернівці,</span>
        <span>завул. Б. Хмельницького 11</span>
        <a href="tel:+{{ site.tel1 }}">+{{ site.tel1-format }}</a>
        <a href="tel:+{{ site.tel2 }}">+{{ site.tel2-format }}</a>
      </address>
    </div>
    <div class="footer__col footer__col--cities">
      <div class="footer__cities cities">
        <div class="cities__title">
          <p>Будинки престарілих в інших містах:</p>
        </div>
        <ul class="cities__list">
          <li>Львів</li>
          <li>Рівне</li>
          <li>Хмельницький</li>
          <li>Тернопіль</li>
          <li>Ужгород</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
