<svg style="display: none">
  <symbol id="viber-icon-old" viewBox="0 0 511.6 510.6">
    <path
      d="M385 115c-54-43-210-50-265 5-42 41-51 184 0 229 30 26 49 28 49 28v41c0 9 14 19 27 4l32-34s107 8 157-33 54-196 0-240Zm-20 221c-43 36-132 27-132 27l-36 42c-21 21-19 14-19 0l1-51s-14-3-36-18c-48-34-34-167-4-197 46-48 182-42 228-4s41 165-2 201ZM189 156a13 13 0 0 1 13 2s5 5 13 16a145 145 0 0 1 13 20 11 11 0 0 1-3 13l-8 7a15 15 0 0 0-4 13 67 67 0 0 0 20 32 79 79 0 0 0 33 18 15 15 0 0 0 13-4l5-6a11 11 0 0 1 13-2 137 137 0 0 1 17 9 171 171 0 0 1 18 14 11 11 0 0 1 2 12 50 50 0 0 1-9 13 50 50 0 0 1-12 10 22 22 0 0 1-14 1s-46-16-80-48c-37-37-53-86-53-86a17 17 0 0 1 2-14 100 100 0 0 1 11-12 51 51 0 0 1 10-8Z"
      fill="#6151a2"
    />
  </symbol>

  <symbol id="viber-icon" viewBox="0 0 532 532">
    <circle cx="266" cy="266" r="256" fill="#fff" stroke="#6151a2" stroke-miterlimit="10" stroke-width="20" />
    <path
      d="M401 120c-56-45-219-52-276 5-44 43-53 192 0 238 31 28 50 30 50 30l1 42c0 11 14 21 28 5l33-35s112 8 164-35 56-205 0-250Zm-21 230c-45 37-138 29-138 29l-38 43c-21 22-19 15-19 1l1-54s-15-3-38-19c-49-35-34-174-4-206 48-50 189-43 238-4s43 173-2 210Z"
      fill="#6151a2"
    />
    <path
      d="M197 163a13 13 0 0 1 13 2s5 4 14 16a151 151 0 0 1 13 21 12 12 0 0 1-3 13l-8 8a16 16 0 0 0-4 13 70 70 0 0 0 20 34 82 82 0 0 0 35 19 16 16 0 0 0 13-5l6-6a12 12 0 0 1 12-2 143 143 0 0 1 19 10 178 178 0 0 1 18 14 12 12 0 0 1 3 13 53 53 0 0 1-10 13 52 52 0 0 1-13 10 23 23 0 0 1-14 1s-48-16-83-50c-39-38-56-89-56-89a18 18 0 0 1 2-14s6-9 12-14a53 53 0 0 1 11-7Z"
      fill="#6151a2"
    />
    <path
      d="M263 159c61 0 87 49 85 89"
      fill="none"
      stroke="#6151a2"
      stroke-linecap="round"
      stroke-miterlimit="10"
      stroke-width="10"
    />
    <path
      d="M272 182c38 0 54 31 53 56M277 205c19 0 27 16 27 28"
      fill="none"
      stroke="#6151a2"
      stroke-linecap="round"
      stroke-miterlimit="10"
      stroke-width="10"
    />
  </symbol>
</svg>

<footer class="footer">
  <div class="footer__body _container">
    <div class="footer__col footer__col--logo">
      <a class="footer__logo" href="/">
        <picture>
          <source srcset="/img/footer-logo.webp" type="image/webp" />
          <img src="/img/footer-logo.png" alt="Логотип пансіонату Родинне тепло" />
        </picture>
      </a>
    </div>
    <div class="footer__col footer__col--social">
      <div class="footer__social social">
        <div class="social__body">
          <div class="social__item">
            <a href="https://api.whatsapp.com/send?phone=380989919293">
              <img src="/img/icons/whatsapp-icon.svg" alt="Звязатися з допомогою WhatsApp" />
            </a>
          </div>
          <div class="social__item">
            <a href="https://mssg.me/r/m/5d9e2a3c5d71640037371ea0">
              <!-- img/icons/sprite.svg -->
              <svg>
                <use xlink:href="#viber-icon" width="65" height="65"></use>
              </svg>
              <!-- <img src="/img/icons/viber-icon.svg" alt="Звязатися з допомогою Viber" /> -->
            </a>
          </div>
          <div class="social__item">
            <a href="https://m.me/rodynne.com.ua">
              <img src="/img/icons/fbmess-icon.svg" alt="Звязатися з допомогою Facebook Messenger" />
            </a>
          </div>
          <div class="social__item">
            <a href="tel:+{{ site.tel1 }}">
              <img src="/img/icons/call-icon.svg" alt="Зателефонувати нам" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__col footer__col--address">
      <address class="footer__address">
        <span>м. Чернівці,</span>
        <span>завул. Б. Хмельницького 11</span>
        <a href="tel:+{{ site.tel1 }}">+{{ site.tel1-format }}</a>
        <a href="tel:+{{ site.tel2 }}">+{{ site.tel2-format }}</a>
      </address>
    </div>
    <div class="footer__col footer__col--cities">
      <div class="footer__cities cities">
        <div class="cities__title">
          <p>Будинки престарілих в інших містах:</p>
        </div>
        <ul class="cities__list">
          <li>Львів</li>
          <li>Рівне</li>
          <li>Хмельницький</li>
          <li>Тернопіль</li>
          <li>Ужгород</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
